name: Data Pipeline CI

# Trigger this robot whenever code is pushed to the 'main' branch
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    # 1. Download the code
    - uses: actions/checkout@v3

    # 2. Install Python
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    # 3. Install the checking tool (Flake8)
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8

    # 4. Run the check (The Test)
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics